@font-face {
  font-family: "RF";
  src: url(fonts/RF.otf);
}

body {
  background-color: #082032;
  font-family: "RF";
  height: 100vw;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

#navtitle {
  margin-bottom: 40px;
  margin-top: -60px;
  padding-bottom: 10px;
  width: 15vw;
  text-align: center;
  font-family: "RF";
  border-bottom: 2px solid #ff4c29;
}

.navbar {
  position: fixed;
  width: 17vw;
  max-width: 17vw;
  height: 100%;
  overflow: hidden;
  font-family: "RF";
  font-size: 140%;
  flex-direction: column;
  text-align: center;
}

.navbar,
.navbar-collapse li a {
  color: white !important;
  font-weight: 500;
}

#navlinks {
  font-size: 100%;
}

#logo {
  height: 130%;
  width: 130%;
  margin-left: -40px;
  margin-bottom: -50px;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: column;
}

#socialsbar {
  position: fixed;
  height: 19em;
  width: 3%;
  top: 19em;
  right: 0px;
  background-color: #2c394b;
  border-radius: 13px 0px 0px 13px;
  z-index: 9999999;
}

/* Styling icons */
.icon-list {
  margin-right: 10px;
  margin-top: 20px;
  top: 280px;
  right: 40%;
}

.icon-list a {
  text-align: center;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px;
  float: right;
}

/* HOver affect on icons */
.icon-list a:hover {
  color: #000;
  width: 50px;
}

#popups {
  position: fixed;
  right: -30px;
  margin-top: 35.5vh;
  color: white;
  white-space: nowrap;
  z-index: 9999999;
  text-align: center;
}

#popup1 {
  display: none;
  margin-right: 100px;
  width: 200px;
  height: 35px;
  border: 1px solid #ff4c29;
  border-radius: 5px;
  background-color: #2c394b;
}

#popup2 {
  display: none;
  margin-top: 45px;
  margin-right: 100px;
  width: 200px;
  height: 35px;
  border: 1px solid #ff4c29;
  border-radius: 5px;
  background-color: #2c394b;
}

#popup3 {
  display: none;
  margin-top: 90px;
  z-index: 9999999;
  margin-right: 100px;
  width: 200px;
  height: 35px;
  border: 1px solid #ff4c29;
  border-radius: 5px;
  background-color: #2c394b;
}

#popup4 {
  display: none;
  margin-top: 140px;
  z-index: 9999999;
  margin-right: 100px;
  width: 200px;
  height: 35px;
  border: 1px solid #ff4c29;
  border-radius: 5px;
  background-color: #2c394b;
}

#popup5 {
  display: none;
  margin-top: 185px;
  z-index: 9999999;
  margin-right: 100px;
  width: 200px;
  height: 35px;
  border: 1px solid #ff4c29;
  border-radius: 5px;
  background-color: #2c394b;
}

#popup6 {
  display: none;
  margin-top: 230px;
  z-index: 9999999;
  margin-right: 100px;
  width: 200px;
  height: 35px;
  border: 1px solid #ff4c29;
  border-radius: 5px;
  background-color: #2c394b;
}

#maincontent {
  width: 55%;
  height: 20%;
  position: absolute;
  color: white;
  margin-left: 400px;
  margin-top: 90px;
  font-size: 90px;
  font-size: 5em;
}

#maincontent1 {
  width: 30%;
  height: 10%;
  position: absolute;
  color: white;
  margin-left: 400px;
  margin-top: 220px;
  font-size: 3em;
}

#aboutme {
  margin-left: 80px;
  width: 84%;
  height: 160vh;
  position: absolute;
  text-align: left;
  top: 100vh;
  left: 17vw;
  animation: 1.5s anim-lineUp ease-out;
}

#aboutme p {
  color: white;
  font-size: 50px;
  margin-top: 5vh;
}

#myproj {
  margin-left: 80px;
  width: 84%;
  height: 140vh;
  position: absolute;
  text-align: left;
  top: 200vh;
  left: 17vw;
  animation: 1.5s anim-lineUp ease-out;
}

#myproj p {
  color: white;
  font-size: 50px;
  margin-top: 5vh;
}

#mylinks {
  margin-left: 80px;
  width: 84%;
  height: 100vh;
  position: absolute;
  text-align: left;
  top: 280vh;
  left: 17vw;
  animation: 1.5s anim-lineUp ease-out;
}

#mylinks p {
  color: white;
  font-size: 50px;
  margin-top: 5vh;
}

#contactme {
  margin-left: 80px;
  width: 84%;
  height: 100vh;
  position: absolute;
  text-align: left;
  top: 380vh;
  left: 17vw;
  animation: 1.5s anim-lineUp ease-out;
}

#contactme p {
  color: white;
  font-size: 50px;
  margin-top: 5vh;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#socials-mobile,
#mobilecontainer,
#logo1,
#typewriter,
#titlemobile,
#mobilebar,
.line,
#mobilebar,
#scroller,
#scrollertext,
#socials-mobile {
  display: none;
}

/* Mobile friendly design*/

@media screen and (max-width: 768px) {
  #desktopview {
    display: none;
  }

  body {
    color: white;
    height:100vh;
  }

  #mobilecontainer {
    display: block;
    height: 28vh;
    text-align: center;
  }

  #logo1 {
    display:block;
    width: 100%;
    margin-top: 2vh;
  }

  #typewriter {
    display:block;
    width: 80vw;
    bottom: 0;
    display: flexbox;
    margin-top: 5vh;
    text-align: left;
  }

  #titlemobile {
    display:block;
    margin-top: 5vh;
    color: white;
    font-size: 100%;
  }

  #mobilebar {
    display: block;
    float: left;
    margin-top: 1vh;
    width: 50px;
    background-color: #ff4c29;
  }

  .line {
    display: block;
    height: 2px;
    width: 1%;
    background-color: #ff4c29;
    position: absolute;
  }

  #mobilebar .line:nth-last-child(1) {
    animation: loadingB 4s 1s infinite;
  }
  #mobilebar .line:nth-last-child(2) {
    animation: loadingB1 4s 0.5s infinite;
  }

  @keyframes loadingB {
    0% {
      width: 10%;
    }
    50% {
      width: 22%;
    }
    100% {
      width: 10%;
    }
  }

  @keyframes loadingB1 {
    0% {
      width: 20%;
    }
    50% {
      width: 42%;
    }
    100% {
      width: 20%;
    }

  }

  #scroller {
    display:block;
    height: 16vh;
    bottom: 0;
    right: 0;
    overflow:hidden;
  }
  #scrollertext {
    display:block;
    right: 0;
    bottom: 0;
    font-size: 80%;
    font-weight: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    animation: leftnright 1s infinite;
  }

  #socials-mobile{
    display:block;
    position:relative;
    height:auto;
    width:100%;
  }

  #socials-mobile a{
    text-decoration: none;
  }

  #socials-mobile a i{
    padding: 8px;
    color: white;
    font-size: 20px;
  }

  #contactmebtn-mobile{
    border:2px solid #e87121;
    background-color:#082032;
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size:80%;
    display:block;
    margin-left:2vw;
    margin-top:6vh; 
    width:40vw; 
    padding:10px;
    border-radius:3px;
    text-align: center;
  }


  @keyframes leftnright {
    0% {
      margin-top: 10%;
    }
    50%{
      margin-top: 0;
    }
    100% {
      margin-top: 10%;
    }
  }
}
